################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64

/StronglyConnComponents/x64/*
/StronglyConnComponents/Strongly.469b719a/*
