################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphSln
/x64/Debug
/GraphSln/x64/Debug
/StronglyConnComponents/x64/Debug
